<div class="text-center text-black">
  <h1>Browse all superpowers</h1>
</div>

  <table>
    <thead>
      <tr>
        <th>Superpower</th>
        <th>Description</th>
        <th>Price</th>
        <th colspan="5"></th>
      </tr>

    </thead>
    <tbody>
      <% @superpowers.each do |superpower| %>
        <tr>
          <td> <%= superpower.name %></td>
          <td> <%= superpower.description %></td>
          <td> Price - <%= superpower.price %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
