.show-container {
  background-color: rgb(255, 255, 255);
  text-align: justify;
  margin: 0 auto;
  padding: 0px 50px 50px 50px;
}

.reservation {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  padding: 0px 50px 50px 50px;
}

.spider-info-text {
  font-size: 18px;
}

.more-text {
  display: none;
}

.avatar-border {
  border: 1px solid #555;
}

.no-margin-name {
  margin-top: 10px;
  margin-left: 10px;
}

.avatar-name {
  justify-content: center;
}

.card-spider-sense h4 {
  margin-top: 20px;
  margin-right: 20px;
}

.carosello {
  border-radius: 5%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.more-how {
  margin-bottom: 20px;
}

.fulmine {
  width: 80px;
  height: 40px;
  margin-top: 13px;
  margin-right: 20px;
}

.reviews-rating h5 {
  margin-right: 10px
}

.review-space-text h4{
margin-left: 10px;
margin-top: 10px;
}

.star {
  margin-top: 10px;
  margin-bottom: 0px;
}

.rev-content {
  margin-top: 0px;
}

.img-carosel {
height: 200pxpx;
// width: 100px;
}

.where-i-am {
  margin-top: 10px;
}

// Reservation Show

.reservation {
  overflow: hidden;
  height: 400px;
  width: 420px;
  background: #6699CC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  border-radius: 5px;

}

.reservation img {
  padding-top: 6px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.reservation h1 {
  // font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  opacity: 1;
}

.reservation p {
  // font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  opacity: 1;

}

.reservation .reservation-infos {
  padding: 6px;
  opacity: 1;
}
