.show-container {
  background-color: rgb(255, 255, 255);
  text-align: justify;
  margin: 0 auto;
  padding: 0px 50px 50px 50px;
  border-radius: 5%;
  margin-top: 50px;
}

.map-b-radius {
  border-radius: 5%;
}

.reservation {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  padding: 0px 50px 50px 50px;
}

.spider-info-text {
  font-size: 18px;
}

.more-text {
  display: none;
}

.avatar-border {
  border: 1px solid #555;
}

.no-margin-name {
  margin-top: 10px;
  margin-left: 10px;
}

.avatar-name {
  justify-content: center;
}

.card-spider-sense h4 {
  margin-top: 20px;
  margin-right: 20px;
}

.carosello {
  border-radius: 5%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.more-how {
  margin-bottom: 20px;
}

.fulmine {
  width: 80px;
  height: 40px;
  margin-top: 13px;
  margin-right: 20px;
}

.reviews-rating h5 {
  margin-right: 10px
}

.review-space-text h4{
margin-left: 10px;
margin-top: 10px;
}

.star {
  margin-top: 10px;
  margin-bottom: 0px;
}

.rev-content {
  margin-top: 0px;
}

.img-carosel {
height: 200pxpx;
// width: 100px;
}

.where-i-am {
  margin-top: 10px;
}

// Reservation Show

.reservation {
  overflow: hidden;
  height: 400px;
  width: 420px;
  background: #6699CC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  border-radius: 5px;

}

.reservation img {
  padding-top: 6px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.reservation h1 {
  // font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  opacity: 1;
}

.reservation p {
  // font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  opacity: 1;

}

.reservation .reservation-infos {
  padding: 6px;
  opacity: 1;
}


// User profile page

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.card {
  color: white;
  min-height: 56vh;
  place-items: center;
  width: 320px;
  padding: 10rem, 0, 0;
  max-width: 35ch;
  position:relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: 2px 4px 8px #d61c4e;
}

#A {
  background-image: url(https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
  background-size: cover;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
   to bottom, rgba(0,0,0,0.05),rgba(0,0,0,0.8)
  );
  position:absolute;
  bottom:0;
  left: 0;
  transform: translateY(65%);
  transition: transform 500ms ease;
}

.card:hover .card-content {
  transform:translateY(0);
}

.card-body {
  color: white;
  opacity: 0.85;
}
.card-title {
  position: relative;
  bottom: -8px;
}
.card-title::after {
  content:'';
  position: absolute;
  height: 4px;
  left: calc(var(--padding)* -1);
  bottom: 0;
  width: calc(100% +var(--padding));
  background: orange;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after {
transform: scaleX(1);
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #d61c4e;
  background-color: orange;
  padding: 0.5em 1.25em;
  border-radius: 8px;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d61c4e;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
  border-radius: 8px;
}

.button {
  z-index: 1;
}

.button:hover::before,
.button:focus::before {
  transform: scaleX(1);
}

.button:hover,
.button:focus {
  color:orange ;
}
