<div class="row">
  <div class="col-3">
    <br>
    <div class="center">
      <%= image_tag "luca.png", class: "avatar-full" %>
    </div>
    <div class="description row-space-3">
      <h2> My profile</h2>
    </div>
  </div>
  <div class="col-6">
    <div class="section">
      <div class="card" id="D">
        <div class="card-content">
         <h2 class="card-title">You have <strong>reservations</strong>!</h2>
         <br>
         <%= link_to "See reservations", reservations_path, class: "button"  %>
        </div>
      </div>
    </div>
  </div>
</div>
ß

const someFunction = (someArgument) => {
  const bla = 'bla';
  console.log(someArgument);
  console.log(bla);
  return someArgument + bla;
};
someFunction();

const foo = someArgument => someArgument.json();


fetch(url, {}).then(foo).then(jsObject => console.log(jsObject.name)).catch(error => console.error(error.msg));


<%# json %>
