<% if user_signed_in? %>
<% end %>

<div class="banner">
  <br>
    <h1 class="spnb">
    Things to do with <span><strong>S</strong></span><span><strong>P</strong></span><span><strong>N</strong></span><span><strong>B</strong></span>
    </h1>
  <br>
  <br>

  <div class="section">
    <div class="card" id="A">
    <div class="card-content">
      <h2 class="card-title">You have <strong>superpowers</strong>?</h2>
      <p class="card-body">You can easily find people interested in your power by publishing it!</p>
      <%= link_to "Publish power", new_superpower_path, class: "button"  %>
    </div>
  </div>

  <div class="card" id="B">
    <div class="card-content">
      <h2 class="card-title">Wanna <strong>boost</strong> your power?</h2>
      <p class="card-body">You can easily find the power you dream of here!</p>
      <%= link_to "Check it out", superpowers_path, class: "button"  %>
    </div>
  </div>

  <div class="card" id="C">
    <div class="card-content">
      <h2 class="card-title">Join <strong>millions</strong> of us</h2>
      <p class="card-body">You are not alone to make the world better, join us now!</p>
      <%= link_to "Join", "#", class: "button"  %>
    </div>
  </div>

</div>
