.navbar-lewagon {
  justify-content: space-between;
  background: brown;
  border-style: solid;
  border-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.searchbar {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  li {
    color: white;
  }
}

#query {
  width: 400px;
  border-style: solid ;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 4px 18px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.nav-item {
  padding: 5px;
}
