// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "flatpickr/dist/flatpickr";

.banner {
  color:red;
  padding: 24px;
}

body {
  position: relative;
}


#today {
  padding: 12px;
  margin: 12px;
}

.card-sp {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-sp > img {
  height:200px;
  width:100px;
  object-fit: cover;
}

.card-sp h4 {
  margin:0;
  font-size: 24px;
}

.card-sp p {
  font-size: 12px;
  opacity: .8;
  margin:0;
}

.card-sp .info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.info .avatar {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
